DB_HOST=srv999.hstgr.io
DB_USER=u151187270_noltvendb
DB_PASSWORD=!Kk6q|v0JXc
DB_NAME=u151187270_noltvendb_admi
JWT_SECRET=supersecret123
ADMIN_USER=admin
ADMIN_PASS=admin123

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=developer@gohilinfotech.com
MAIL_PASSWORD=fmljjkikzopcrpet
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="developer@gohilinfotech.com"
MAIL_TO_ADDRESS="vraj@gohilinfotech.com"
